{% extends 'layout.html' %}

{% block title %}
{{ super() }} | Home
{% endblock title %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename='css/shop.css') }}">
{% endblock %}

{% block content %}

<h3>
    Home
    {% if current_user.is_authenticated %}
    <span class="float-right">Hello, {{ user.first_name }}!</span>
    {% else %}
    <span class="float-right">Good day!</span>
    {% endif %}
    
</h3>
<hr />

<div class="container-for-image">
<img class='image-for-home' src="{{url_for('static', filename='productmanimage.png')}}" />
</div>
{% endblock %}